<link rel="import" href="./todo-list-item.html">

<dom-module id="stv-todos-list">

  <template>
    <h3>Todo List</h3>
      <template is="dom-repeat" items="{{todos}}" as="todo">
        <stv-todo-list-item todo="[[todo]]" id="[[todo.id]]">
      </template>
  </template>

  <script>
    Polymer({
      is: 'stv-todos-list',
      properties: {
        todos: Array
      },
      created: function () {
        console.log('stv-todos-list created');
      },
      ready: function () {
        console.log('stv-todos-list ready');
      }
    });
  </script>

</dom-module>
