<link rel="import" href="todo-list.html">
<link rel="import" href="todo-nav-bar.html">

<dom-module id="stv-todos">

  <template>
    <stv-todo-nav-bar></stv-todo-nav-bar>
    <stv-todos-list todos="[[todos]]"></stv-todos-list>
  </template>

  <script>
    Polymer({
      is: 'stv-todos',
      properties: {
        todos: {
          type: Array,
          value: [
            {id: 1, name: 'whats up', description: 'Nick is a joker'},
            {id: 2, name: 'not much', description: 'Nick is a joker again'}
          ],
          notify: true
        }
      },
      ready: function () {
        var that = this;
        that.addEventListener('edit-todo', function (event) {
          that.handleEdit(event.detail.id);
        });
        that.addEventListener('delete-todo', function (event) {
          that.handleDelete(event.detail.id);
        });
        that.addEventListener('create-todo', function (event) {
          that.handleCreate(event.detail.title, event.detail.description);
        });
      },
      handleEdit: function (todoId) {
        console.log('handling edit');
      },
      handleDelete: function (todoId) {
        var index;
        for (var i = 0; i < this.todos.length; i++) {
          if (this.todos[i].id === parseInt(todoId)) {
            this.splice('todos', i, 1);
          }
        }
      },
      handleCreate: function (title, description) {
        var newTodo = {
          id: this.todos.length + 1,
          name: title,
          description: description
        }
        this.push('todos', newTodo);
      }
    });
  </script>

</dom-module>

