<link rel="import" href="paper-toolbar/paper-toolbar.html">
<link rel="import" href="paper-icon-button/paper-icon-button.html">
<link rel="import" href="iron-icons/iron-icons.html">

<dom-module id="stv-todo-nav-bar">

  <template>
    <paper-toolbar>
      <paper-icon-button icon="menu">MENU</paper-icon-button>
      <span class="title">Doing Polymer Things</span>
      <paper-icon-button icon="add">New</paper-icon-button>
    </paper-toolbar>
  </template>

  <script>
   Polymer({
     is: 'stv-todo-nav-bar'
   });
  </script>

</dom-module>
