<dom-module id="stv-todos-list">

  <template>
    <h3>Todo List</h3>
    <ul>
      <template is="dom-repeat" items="{{todos}}" as="todo">
        <li>{{todo.id}}, {{todo.name}}</li>
      </template>
    </ul>
  </template>

  <script>
  var Todos = Polymer({
    is: 'stv-todos-list',
    properties: {
      todos: Array
    },
    created: function () {
      console.log('stv-todos-list created');
    },
    ready: function () {
      console.log('stv-todos-list ready');
    }
  });
  </script>

</dom-module>
