<link rel="import" href="todo-list.html">
<link rel="import" href="todo-nav-bar.html">

<dom-module id="stv-todos">

  <template>
    <style>
     .no-todos {
       display: flex;
       flex-direction: column;
       align-items: center;
       font-family: Tahoma;
     }
    </style>
    <stv-todo-nav-bar></stv-todo-nav-bar>
    <stv-todos-list todos="[[todos]]"></stv-todos-list>
    <div class="no-todos" hidden$="{{isTodos}}">
      <h3>There are no things</h3>
      <p>You can add more things by pressing the red plus button</p>
    </div>
  </template>

  <script>
    Polymer({
      is: 'stv-todos',
      properties: {
        todos: {
          type: Array,
          value: [],
          notify: true
        },
        isTodos: {
          type: Boolean,
          value: false
        }
      },
      ready: function () {
        var that = this;

        if (this.todos.length) {
          this.checkTodosArray(this.todos);
        }

        that.addEventListener('edit-todo', function (event) {
          that.handleEdit(event.detail.id);
        });
        that.addEventListener('delete-todo', function (event) {
          that.handleDelete(event.detail.id);
        });
        that.addEventListener('create-todo', function (event) {
          that.handleCreate(event.detail.title, event.detail.description);
        });
        that.addEventListener('todos-changed', function (event) {
          that.checkTodosArray(that.todos);
        });
      },
      handleEdit: function (todoId) {
        console.log(todoId);
      },
      handleDelete: function (todoId) {
        for (var i = 0; i < this.todos.length; i++) {
          if (this.todos[i].id === parseInt(todoId)) {
            this.splice('todos', i, 1);
          }
        }
      },
      handleCreate: function (title, description) {
        var newTodo = {
          id: this.todos.length + 1,
          name: title,
          description: description
        }
        this.push('todos', newTodo);
      },
      checkTodosArray: function (todoArr) {
        if (todoArr.length > 0) {
          this.set('isTodos', true);
        } else {
          this.set('isTodos', false);
        }
      }
    });
  </script>

</dom-module>

